<?xml version="1.0" encoding="UTF-8"?>

<Configuration monitorInterval="5">
	<Properties>  
		<Property name="log-path">/var/log/log4jTest</Property>  
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

		<File name="app_debug" fileName="${log-path}/app/debug.log" append="true">
			<Filters>
				<!-- <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL" /> -->
				<ThresholdFilter level="debug"/><!-- all the debug above logs -->
			</Filters>
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n" />
		</File>
		<File name="app_info" fileName="${log-path}/app/info.log" append="true">
			<Filters>
				<!-- <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" /> -->
				<ThresholdFilter level="info"/>
			</Filters>
	
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n" />
		</File>
		<File name="app_error" fileName="${log-path}/app/error.log" append="true">
			<Filters>
				<!-- <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" /> -->
				<ThresholdFilter level="error"/>
			</Filters>
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n" />
		</File> 
	</Appenders>
	
	
	<Loggers>
		<Logger name="org.apache.log4j.xml" level="info" />
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<!-- <AppenderRef ref="app_debug"/> -->
            <AppenderRef ref="app_info"/>  
            <AppenderRef ref="app_error"/>
		</Root>
	</Loggers>
</Configuration>